{% extends "logged-profile.html" %}
{% load crispy_forms_tags %}

{%block title%} Booking {%endblock%}

{%block content%}
<div class="fixed-menu"></div>
<div class="container w-25 my-5 p-3 border bg-light  rounded-3 shadow-lg">
    <h2 class="text-center">Make an Appoinment</h2>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <!-- {{form|crispy}} -->

        {{form.p_name.label}}
        {{form.p_name}}
        
        {{form.p_email.label}}
        {{form.p_email}}


        {{form.p_phone.label}}
        {{form.p_phone}}

        {{form.booking_date.label}}
        {{form.booking_date}}

        {{form.doc_name.label}}
        {{form.doc_name}}

        {{form.errors}}
        <!-- {%for field in form%}
        {{form.doc_name}}
        
        {%endfor%} -->
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {%endfor%}
        <input class="btn btn-primary  w-100 my-2" type="submit">
    </form>
</div>
{%endblock%}