{% extends "base.html" %}

{%block title%} Departments {%endblock%}

{%block content%}
<div class="fixed-menu"></div>
<h1 class="mx-auto w-50 text-center"> Departments</h1>
<hr>
{% for d in dept%}
<div class="mx-auto w-50 text-center bg-success text-white my-3 p-3 border border-warning shadow-lg">
    <h1>{{d.dept_name}}</h1>
    <p>{{d.dept_desc}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="doctor_name" value="{{d.dept_name}}"name="dept_name">
        <button class="btn btn-primary" type="submit" name="dept_value" value="{{d.id}}">View Doctors</button>
    </form>

</div>
{%endfor%}
{%endblock%}