{%extends "logged-profile.html" %}

{% block title%} Profile {%endblock%}

{%block content%}

<h3>Profile</h3>
<h1>Welcome {{request.user}}</h1>


<a class="btn btn-primary" href="{% url 'userbookings' %}" role="button">View My bookings</a>

<a class="btn btn-primary rounded-end-3" href="{% url 'booking' %}">Book an appoinment</a>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
<a href="{% url 'logout' %}">Logout</a>


{%endblock%}