{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block title%} Login/SignUp {%endblock%}

{%block content%}

<div class=" container w-50 ">

    <div class="fixed-menu"></div>
    <h1>Register</h1>
    <hr>
    <form action="" method="post" >
        {% csrf_token %}
        <!-- {{form|crispy}} -->

        {{form.first_name.label}}
        {{form.first_name}}

        {{form.last_name.label}}
        {{form.last_name}}

        {{form.username.label}}
        {{form.username}}


        {{form.email.label}}
        {{form.email}}

        {{form.password1.label}}
        {{form.password1}}

        {{form.password2.label}}
        ({{form.password2.help_text}})
        {{form.password2}} 

        <hr>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <input class="btn btn-primary w-100" type="submit" value="Register">
    </form>
    <h6>Already have an accound? <a href="{% url 'login' %}">Log in</a></h6>


</div>

{%endblock%}